body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

footer {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: black;
  background-image: url("Images/LiLi.png");
  background-size: 100% 100%;
  z-index: 1;
}

.red {
  background-color: red;
  background-image: url("Images/Macks.png");
  background-size: 100% 100%;
}

.green {
  background-color: green;
  background-image: url("Images/Mike.png");
  background-size: 100% 100%;
}

.blue {
  background-color: blue;
  background-image: url("Images/Nick.png");
  background-size: 100% 100%;
}

.yellow {
  background-color: yellow;
  background-image: url("Images/Piero.png");
  background-size: 100% 100%;

}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
